<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Jannielyn Acha</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/googleapis.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="static/css/style.css" rel="stylesheet">
  </head>

  <body>
    <!-- Navbar -->
    <nav id="nav" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="/" style="padding-top: inherit;">
            <img src="static/images/nav-pic.jpg" class="img-responsive img-circle" style="display:inline" alt="Bird" width="50" height="50">
            <b>Jannielyn</b>
          </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/aboutme">ABOUT ME</a></li>
            <li><a href="/blog">BLOG</a></li>
            <li><a href="/contactme">CONTACT ME</a></li>
            <li><a href="/faq">FAQ</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- First Container -->
    <div id="who" class="container-fluid bg-1 text-center">
      <h3 class="margin">Contact Me Onegai!</h3>
      <h4>Email: jcacha@up.edu.ph</h4>
      <h4>Phone Number: 09227669954</h4>
    </div>

    <!-- Footer -->
    <footer class="container-fluid bg-4 text-center">
      <div class="soc-media col-md-12 col-sm-12 margin">
        
          <span class="fa-stack">
            <a href="https://www.facebook.com/jaijaiasis" style="color:white" rel="noopener noreferrer" target="_blank">
              <i class="fa fa-circle-thin fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x"></i>
            </a>
          </span>
        <span class="fa-stack">
          <a href="https://twitter.com/jayjayful" style="color:white" rel="noopener noreferrer" target="_blank">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x"></i>
          </a>
        </span>
        <span class="fa-stack">
          <a href="https://www.instagram.com/jannielynacha/" style="color:white" rel="noopener noreferrer" target="_blank">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-instagram fa-stack-1x"></i>
          </a>
        </span>
        <span class="fa-stack">
          <a href="https://github.com/jaijaiasis" style="color:white" rel="noopener noreferrer" target="_blank">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x"></i>
          </a>
        </span>
      </div>
      <div class="col-md-12 col-sm-12">
        <p><h4>Copyright 2017</a></h4></p> 
      </div>
    </footer>

  </body>

  <!-- jquery -->
  <script src="static/js/jquery.min.js"></script>
  <!-- bootstrap -->
  <script src="static/js/bootstrap.min.js"></script>

</html>
